In [1]:
import numpy as np
import pandas as pd

import os

import pathlib
import datetime

In [2]:
base_dir = os.path.join(pathlib.Path.home(), 'ecen5407', 'ecen5407_project2')
pysam_pt = os.path.join(base_dir, "data", "PySam_Outputs", "baseline_system_output.csv")
# load_pt = os.path.join(base_dir, "data", "Project 2 - Load Profile_modified_index2.csv")

In [4]:
pysam = pd.read_csv(pysam_pt)

In [5]:
pysam

,Unnamed: 0,Datetime,PV DC Gross (kW),PV Generation (kW),Wind Generation (kW),System Power (kW),Load (MW),Load (kW),Power Available for Battery (kW),Battery Power Target (kW)
0,0,2012-01-01 00:00:00,0.0,-6.279372,0.0,0.0,37.543492,37543.491717,-37543.491717,37543.491717
1,1,2012-01-01 00:05:00,0.0,-6.279372,0.0,0.0,37.367223,37367.222917,-37367.222917,37367.222917
2,2,2012-01-01 00:10:00,0.0,-6.279372,0.0,0.0,37.269834,37269.834400,-37269.834400,37269.834400
3,3,2012-01-01 00:15:00,0.0,-6.279372,0.0,0.0,37.098413,37098.412983,-37098.412983,37098.412983
4,4,2012-01-01 00:20:00,0.0,-6.279372,0.0,0.0,37.016007,37016.007333,-37016.007333,37016.007333
...,...,...,...,...,...,...,...,...,...,...
105115,105115,2012-12-31 23:35:00,0.0,-6.279372,0.0,0.0,41.933907,41933.906850,-41933.906850,41933.906850
105116,105116,2012-12-31 23:40:00,0.0,-6.279372,0.0,0.0,41.725028,41725.028317,-41725.028317,41725.028317
105117,105117,2012-12-31 23:45:00,0.0,-6.279372,0.0,0.0,41.518353,41518.353150,-41518.353150,41518.353150
105118,105118,2012-12-31 23:50:00,0.0,-6.279372,0.0,0.0,41.294051,41294.051100,-41294.051100,41294.051100
105119,105119,2012-12-31 23:55:00,0.0,-6.279372,0.0,0.0,41.064467,41064.466667,-41064.466667,41064.466667

In [17]:
load = pd.Series(pysam['Load (MW)']/110)
load.name = "load"
load

0         0.341304
1         0.339702
2         0.338817
3         0.337258
4         0.336509
            ...
105115    0.381217
105116    0.379318
105117    0.377440
105118    0.375400
105119    0.373313
Name: load, Length: 105120, dtype: float64

In [16]:
load.describe()

count    105120.000000
mean         46.543769
std          11.638152
min          28.709340
25%          38.485648
50%          44.842122
75%          50.224269
max         106.106767
Name: load, dtype: float64

In [18]:

save_pt = os.path.join(base_dir, "data", "Sienna_Inputs", "load.csv")
load.to_csv(save_pt, index=False)

In [6]:
pv = pd.Series(pysam['PV Generation (kW)']/1000)

In [7]:
pv.name = 'solar'

In [8]:
save_pt = os.path.join(base_dir, "data", "Sienna_Inputs", "pv.csv")
pv.to_csv(save_pt, index=False)

In [9]:
wind = pd.Series(pysam["Wind Generation (kW)"].values/1000)

In [10]:
wind.name = 'wind'

In [11]:
save_pt = os.path.join(base_dir, "data", "Sienna_Inputs", "wind.csv")
wind.to_csv(save_pt, index=False)