In [1]:
import numpy as np
import pandas as pd

import os

import pathlib
import datetime

In [ ]:
base_dir = os.path.join(pathlib.Path.home(), 'ecen5407', 'ecen5407_project2')
pysam_pt = os.path.join(base_dir, "data", "222628_32.73_-117.18_2012_pysam_output.csv")
load_pt = os.path.join(base_dir, "data", "Project 2 - Load Profile_modified_index2.csv")

In [3]:
pysam = pd.read_csv(pysam_pt)

In [6]:
pysam

,Unnamed: 0,Temperature,DHI,GHI,DNI,Surface Albedo,Wind Speed,Pressure,Year,Month,Day,Hour,Minute,ac_gross
0,2012-01-01 00:00:00,15.600000,0.000000,0.000000e+00,0.0,0.14,3.800000,1017.000000,2012,1,1,0,0,-1.884
1,2012-01-01 00:05:00,15.592028,0.000000,2.722275e-07,0.0,0.14,3.807371,1016.999992,2012,1,1,0,5,-1.884
2,2012-01-01 00:10:00,15.579313,0.000000,3.959672e-07,0.0,0.14,3.819813,1016.999988,2012,1,1,0,10,-1.884
3,2012-01-01 00:15:00,15.562805,0.000000,4.009168e-07,0.0,0.14,3.836311,1016.999988,2012,1,1,0,15,-1.884
4,2012-01-01 00:20:00,15.543451,0.000000,3.167738e-07,0.0,0.14,3.855850,1016.999990,2012,1,1,0,20,-1.884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105403,2012-12-31 23:35:00,15.615163,0.000001,3.045967e-07,0.0,0.14,3.828777,1015.997245,2012,12,31,23,35,0.000
105404,2012-12-31 23:40:00,15.509975,0.000003,7.497764e-07,0.0,0.14,3.863143,1015.993219,2012,12,31,23,40,0.000
105405,2012-12-31 23:45:00,15.382321,0.000006,1.355623e-06,0.0,0.14,3.903897,1015.987741,2012,12,31,23,45,0.000
105406,2012-12-31 23:50:00,15.230087,0.000009,2.142218e-06,0.0,0.14,3.951837,1015.980627,2012,12,31,23,50,0.000
105407,2012-12-31 23:55:00,15.051160,0.000013,3.129647e-06,0.0,0.14,4.007761,1015.971697,2012,12,31,23,55,0.000